body {
  margin: 0;
padding:0;
box-sizing: border-box;
background: #ADCF9F;
}
.todolist{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin-top:100px;
}
h1{
  font-size:4rem;
}
button{
  font-size:1.3em;
  font-weight:bold;
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  background-color: #FFDCAE;
  cursor:pointer;
  transition:background-color 0.5 ease;
}
.addbtn{
  background-color: #76BA99;
}
.addbtn:hover{
  background-color: #5da07f;
}
.deletebtn{
  background-color: #ee5a0a;
}
.deletebtn:hover{
  background-color: #c64a08;
}
.movebtn{
  background-color: #4fb3da;
}
.movebtn:hover{
  background-color: #2a93bd;
}
input[type="text"]{
  font-size:1.6rem;
  padding: 10px;
  border:2px solid hsla(0, 0%,80%,0.6);
  border-radius: 5px;
  color:hsla(0,0%,0%,0.6);
}
ol{
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
li{
  font-size:1.6rem;
  font-weight:bold;
  padding: 15px;
  width:700px;
  
  margin-bottom:10px;
  border:3px solid dimgray;
  border-radius:5px;
  display:flex;
  align-items: center;
}
.text{
  flex:1;
}
.deletebtn,.movebtn{
  padding:10px 15px;
  font-size:1.3rem;
  margin-left:10px;
}